* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
section {
    background-color: grey;
}
h4 {
    text-align: right;
}
#h1 {
    background-color: pink;
    border: 1px solid black;
}
#h2 {
    background-color: brown;
    border: 1px solid black;
}
#h3 {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}
.box {
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
}
p {
    margin: 6px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (min-width: 992px) {
    .col-lg-3 {
        float: left;
    }
}
.col-lg-3 {
    width: 25%;
}
@media (min-width: 768px) and (max-width: 991) {
    .col-mg-3 {
        float: left;
    }
}
.col-mg-3 {
    width: 16.66%;
}