* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
section {
    background-color: grey;
}
h4 {
    text-align: right;
}
#h1 {
    background-color: pink;
    border: 1px solid black;
}
#h2 {
    background-color: brown;
    border: 1px solid black;
}
#h3 {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}
.box {
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
p {
    margin: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}