#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
}
.navbar-brand h1 {
    color: black;
    margin-top: 15px;
    margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}

.navbar-header button.navbar-toggle {
    background-color: white;
    text-align: center;
}